<main class="flex justify-center items-center py-6">
  <div
    class="max-w-2xl min-w-0 px-4 w-full flex items-start justify-between prose dark:prose-invert font-serif"
  >
    <div class="flex space-x-4">
      <a
        class="transition-all hover:underline"
        rel="prefetch"
        href="https://axelpadilla.me"
      >
        Home
      </a>
      <a class="transition-all hover:underline" rel="noreferrer" href="/">
        Blog
      </a>
    </div>
    <a class="transition-all" rel="prefetch" href="https://axelpadilla.me">
      axelpadilla.me
    </a>
  </div>
</main>
